textarea {
  width: 100%;
  min-height: 100px;
}

.card {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 400px;
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: 10px;
  padding-top: inherit;
}

.card-body {
  padding: 10px;
  word-wrap: break-word;
  width: 380px;
  margin-top: 15px;
}

.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.minimize {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.note-name {
  display: flex;
  justify-content: center;
  word-break: break-all;
  text-align: center;
  align-items: center;
  padding-bottom: 7px;
  padding-top: 5px;
}